DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_DEMO_MODE="true"
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_WEBHOOK_SIGNING_SECRET=""
REDIS_URL="rediss://USER:PASSWORD@HOST:PORT"
STORAGE_REGION="eu-west-2"
STORAGE_BUCKET="klyraen-staging-audio"
STORAGE_ACCESS_KEY_ID=""
STORAGE_SECRET_ACCESS_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STABILITY_API_KEY=""
STABILITY_API_URL=""
STABILITY_MODEL="stable-audio"
MUSIC_GENERATION_PROVIDER="stable-audio"
MUSIC_GENERATION_TIMEOUT_MS="300000"
KLYRAEN_WELCOME_CREDITS="100"
KLYRAEN_GENERATION_CREDIT_COST="10"
